@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 1000px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
}

nav{
    width: 55%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid #E86A33;
    background-color: #F6F4EB;
}

.profile-pic{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #353d65;
    /* border: 1px solid black; */
}

.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.name>h2{
    color: #252B48;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.name>span{
    color: #252B48;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.tag-name{
    display: flex;
    justify-content: center;
}

.tag-name>h4{
    color: #252B48;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;

}

.sec-desc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.desc{
        width: 55%;
        height: 130px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #F6F4EB;
        border-bottom: 3px solid #252c4e94;
    }

.desc>p{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: #353d65;
    margin-left: 10px;
}

.sec-edu{
    width: 100%;
    display: flex;
    justify-content: center; 
}
  
.edu{
    width: 55%;
    height: 250px;
    /* border: 1px solid black; */  
    background-color: #F6F4EB;
    
}

.edu-title{
    display: flex;
    justify-content: space-between;
    width: 205px;
    height: 43px;
    margin-top: 30px;
    margin-left: 20px;
    border-bottom: 3px solid #E86A33;
}

.edu-title>h3{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #252B48;
}

.edu-title>svg{
    position: relative;
    top: 4px;
}

.edu-main-div{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.clg{
    width: 320px;
    height: 100px;
    /* border: 1px solid black; */
}

.clg-title{
    font-size: 20px;
    color: #252B48;
    font-family: 'Barlow', sans-serif;
}

.clg-detail{
    font-family: 'Barlow', sans-serif;
    color: #252B48;
    font-size: 17px;
    margin-top: 10px;
}

.sch{
    width: 340px;
    height: 100px;
    /* border: 1px solid black; */
}

.sch-title{
    font-size: 20px;
    color: #252B48;
    font-family: 'Barlow', sans-serif;
}

.sch-detail{
    font-family: 'Barlow', sans-serif;
    color: #252B48;
    margin-top: 10px;
    font-size: 18px;
}


.middle{
    height: 100px;
    width: 3px;
    background-color: #E86A33;
}

.sec-skill-hobby{
    width: 100%;
    display: flex;
    justify-content: center; 
    
}

.skill-hobby-div{
    width: 55%;
    height: 300px;
    /* border: 1px solid black;   */
    background-color: #F6F4EB;
    display: flex;
    justify-content: space-between;
    
}

.skills{
    width: 480px;
    /* border: 1px solid black;   */
    height: 280px;
    margin-top: 30px;
}

.skill-title{
    display: flex;
    justify-content: space-between;
    width: 125px;
    border-bottom: 3px solid #E86A33;
    margin-left: 20px;
}

.skill-title>h3{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #252B48;
}

.skill-title>svg{
    position: relative;
    top: 4px;
}

.skill-list{
    width: 300px;
    height: 180px;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
}

.skill-list>ul{
    font-size: 23px;
    color: #252B48;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
}

.middle-2{
    height: 270px;
    width: 3px;
    background-color: #E86A33;
    margin-top: 30px;
}


.hobby{
    width: 500px;
    /* border: 1px solid black;   */
    height: 280px;
    margin-top: 30px;
}

.hobby-title{
    display: flex;
    justify-content: space-around;
    width: 180px;
    border-bottom: 3px solid #E86A33;
    margin-left: 20px;

}

.hobby-title>h3{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #252B48;
}

.hobby-title>svg{
    position: relative;
    top: 4px;
}


.hobby-list{
    width: 300px;
    height: 180px;
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
}

.hobby-list>ul{
    font-size: 23px;
    color: #252B48;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
}

.sec-personal-detail{
    width: 100%;
    display: flex;
    justify-content: center; 
    
}

.aboutme-socials-div{
    width: 55%;
    height: 350px;
    /* border: 1px solid black   */
    background-color: #F6F4EB;
    display: flex;
    justify-content: space-between;
    
}

.about{
    width: 460px;
    /* border: 1px solid black;   */
    height: 300px;
    margin-top: 40px;
}

.about-title{
    display: flex;
    justify-content: space-around;
    width: 210px;
    border-bottom: 3px solid #E86A33;
    margin-left: 20px;

}

.about-title>h3{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #252B48;
}

.about-title>svg{
    position: relative;
    top: 4px;
}

.about-list{
    width: 300px;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 40px;
}

.list-1,.list-2,.list-3,.list-4{
    /* border: 1px solid black; */
    margin-left: 40px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252B48;
    font-size: 19px;
    font-family: 'roboto', sans-serif;
}

.list-1{
    width: 180px;
    height: 40px;
}

.list-2{
    width: 250px;
    height: 40px;
}

.list-3{
    width: 225px;
    height: 40px;
}

.list-4{
    width: 215px;
    height: 40px;
}

.list-4>h4{
    margin-left: 40px;
}

.socials{
    width: 480px;
    /* border: 1px solid black;   */
    height: 280px;
    margin-top: 40px;
}

.social-title{
    display: flex;
    justify-content: space-around;
    width: 200px;
    border-bottom: 3px solid #E86A33;
    margin-left: 20px;

}

.social-title>h3{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #252B48;
}

.social-title>svg{
    position: relative;
    top: 4px;
}

.social-list{
    width: 300px;
    height: 250px;
    /* border: 1px solid black; */
    margin-top: 40px;
}

.list-1-s,.list-2-s,.list-3-s,.list-4-s{
    /* border: 1px solid black; */
    margin-left: 40px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252B48;
    font-size: 19px;
    font-family: 'roboto', sans-serif;
}

.list-1-s{
    width: 130px;
    height: 40px;
}

.list-2-s{
    width: 115px;
    height: 40px;
}

.list-3-s{
    width: 145px;
    height: 40px;
}

.list-4-s{
    width: 135px;
    height: 40px;
}


.middle-3{
    height: 270px;
    width: 3px;
    background-color: #E86A33;
    margin-top: 30px;
}

@media (max-width:1460px){
    img{
        width: 270px;
        height: 270px;
    }

    nav,main{
        height: 370px;
    }

    .desc>p{
        font-size: 24px;
    }

    .edu-title{
        width: 195px;
    }

    .edu-title>h3{
        font-size: 33px;
    }

}
